#headerSelector {
	display: flex;
	align-items: stretch;
}

#headerSelector > * {
	width: auto;
	display: flex;
}

#headerSelector > input {
	display: flex;
	flex-grow: 1;
}

#openRepoBtn .svg-icon {
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	vertical-align: middle;
}
