<div ng-controller="CommitListCtrl">
  <div>
		<h3>Ahead :</h3>
		<ol>
			<li ng-repeat="commitGen in aheadCommitGens">
				<span ng-repeat="commit in commitGen">{{commit.hash | limitTo:7}} + </span>
			</li>
		</ol>
		<h3>Behind :</h3>
		<ol>
			<li ng-repeat="commitGen in behindCommitGens">
				<span ng-repeat="commit in commitGen">{{commit.hash | limitTo:7}} + </span>
			</li>
		</ol>
		<h3>Shared :</h3>
		<ol>
			<li ng-repeat="commitGen in sharedCommitGens">
				<span ng-repeat="commit in commitGen">{{commit.hash | limitTo:7}} + </span>
			</li>
		</ol>
  </div>
</div>
